@font-face {
    font-family: 'Rubik';
    src: local("Rubik")
        url(fonts/Rubik-Medium.ttf) format("ttf");
}

@font-face {
    font-family: 'Inter';
    src: local("Inter"),
        url(fonts/Inter-Medium.ttf) format("ttf");
}