* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", "Rubik";
}

body {
  background: #FEF3E2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  width: 188px;
  height: 36px;
  margin-top: 42px;
}

.buy_btn {
  width: 170px;
  height: 56px;
  margin-top: 32px;
  border-radius: 16px;
  background: #32633B;
  padding: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: #FFF;
  text-align: right;
  font-size: 15px;
  font-family: Inter;
  line-height: 130%;
}
.buy_btn img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promo_descr {
  width: 658px;
  height: 262px;
  margin: 0;
}
.promo_header {
  color: #263A2A;
  font-size: 80px;
  font-family: Rubik;
  font-weight: 600;
  line-height: 100%;
  margin-top: 120px;
  width: 658pxpx;
}
.promo_subheader {
  color: #4E5C51;
  font-size: 19.5px;
  font-family: Inter;
  line-height: 130%;
  margin-top: 24px;
  width: 520px;
}
.promo_8 {
  width: 574px;
  height: 633px;
}
.promo_8 img {
  width: 574px;
  height: 633px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 8px;
}
.promo_location {
  color: #4E5C51;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 130%;
  margin-top: 120px;
}
.promo_date {
  color: #4E5C51;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 130%;
  margin-top: 8px;
}
.promo_img1 {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  margin-right: 4px;
}
.promo_img2 {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.program {
  margin-top: 160px;
}
.program_text {
  padding: 0;
  width: 522px;
}
.program_header {
  color: #263A2A;
  font-size: 64px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 100%;
}
.program_descr {
  color: #4E5C51;
  font-size: 20px;
  font-family: Inter;
  line-height: 130%;
  margin-top: 24px;
}
.program_subheader {
  color: #4E5C51;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 120%;
  margin-top: 16px;
}
.program .speakers {
  max-width: 550px;
}
.program .speakers_img {
  width: 120px;
  height: 110px;
}
.program .speakers_program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.program .speakers_list ul {
  padding: 0;
  list-style: none;
}
.program .speakers_list ul li {
  width: 600px;
}
.program .speakers_list ul .speak_1 {
  margin-left: 100px;
}
.program .speakers_list ul .speak_2 {
  margin-left: 58px;
  margin-top: 24px;
}
.program .speakers_list ul .speak_3 {
  margin-left: 116px;
  margin-top: 33px;
}
.program .speakers_list ul .speak_4 {
  margin-left: 23px;
  margin-top: 36px;
}
.program .speakers_list ul .speak_5 {
  margin-left: 147px;
  margin-top: 36px;
}
.program .speakers_list ul .speakers_descr p {
  margin: 0;
  margin-left: 10px;
}
.program .speakers_list ul .speakers_descr .time {
  color: #F18B41;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 100%;
  margin-top: 11px;
}
.program .speakers_list ul .speakers_descr .time_nw {
  color: #F18B41;
  font-size: 20px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 100%;
  margin-top: 34px;
}
.program .speakers_list ul .speakers_descr .speak {
  color: #263A2A;
  font-size: 24px;
  font-family: Rubik;
  font-weight: 500;
  line-height: 100%;
  margin-top: 4px;
}
.program .speakers_list ul .speakers_descr .theme {
  color: #4E5C51;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 130%;
  margin-top: 4px;
}

.arrow {
  margin: 0;
}

.afterparty_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.afterparty_content iframe {
  border-radius: 16px;
  width: 658px;
  height: 372px;
}
.afterparty_video {
  position: relative;
}
.afterparty_img {
  position: absolute;
  top: 307px;
  left: 563px;
}
.afterparty_descr {
  margin-left: 20px;
}
.afterparty_descr .time {
  color: #F18B41;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.afterparty_descr .header {
  margin-top: 16px;
  color: #263A2A;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.afterparty_descr .text {
  margin-top: 21px;
  color: #4E5C51;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 522px;
}

.place {
  margin-top: 150px;
  width: 1200px;
  margin-right: 120px;
  margin-left: 120px;
}
.place_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.place_descr {
  width: 520px;
}
.place_header {
  margin-top: 84px;
  width: 520px;
  color: #263A2A;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.place_city {
  margin-top: 24px;
  color: #F18B41;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.place_city img {
  margin-bottom: 5px;
  color: #F18B41;
}
.place_text {
  color: #4E5C51;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  width: 500px;
}
.place_img {
  position: relative;
  width: 700px;
}
.place_img .place3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
.place_img .place2 {
  position: absolute;
  top: 178px;
  right: 181px;
  z-index: 1;
}
.place_img .place1 {
  position: absolute;
  top: 69px;
  right: 379px;
  z-index: 3;
}
.place_img .icons1 {
  position: absolute;
  top: 32px;
}
.place_img .icons2 {
  position: absolute;
  top: 140px;
  right: 277px;
  z-index: 2;
}
.place_img .icons3 {
  position: absolute;
  top: 253px;
  right: 103px;
  z-index: 2;
}
.place_map {
  margin-top: 116px;
}
.place_map iframe {
  width: 100%;
  height: 365px;
  border-radius: 16px;
}

.price_content .header {
  width: 790px;
  margin-top: 160px;
  color: #263A2A;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.price_content .date {
  width: 520px;
  margin-top: 24px;
  color: #F18B41;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.price_ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.price_ticket_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.price_ticket_header h2 {
  margin-top: 48px;
  margin-left: 40px;
  min-width: 190px;
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.price_ticket_header p {
  margin-top: 59px;
  width: 100px;
  color: #F18B41;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.price_ticket_list ul {
  margin-top: 60px;
  list-style-image: url("../img/icons/list_style.svg");
}
.price_ticket_list ul ::marker {
  width: 14px;
  height: 15px;
}
.price_ticket_list ul li {
  margin-bottom: 8px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.price_ticket .eco {
  position: relative;
  width: 387px;
  min-height: 369px;
  border-radius: 32px;
  background-color: #32633B;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.price_ticket .eco_img {
  position: absolute;
  top: 84px;
  left: 27px;
}
.price_ticket .eco_btn {
  margin: 24px 40px 32px 40px;
  width: 307px;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #F18B41;
  border: none;
}
.price_ticket .eco_btn a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}
.price_ticket .eco:hover {
  -webkit-box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
}
.price_ticket .standart {
  position: relative;
  width: 387px;
  min-height: 456px;
  border-radius: 32px;
  background-color: #32633B;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.price_ticket .standart_img {
  position: absolute;
  top: 85px;
  left: 27px;
}
.price_ticket .standart_btn {
  margin: 24px 40px 32px 40px;
  width: 307px;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #F18B41;
  border: none;
}
.price_ticket .standart_btn a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}
.price_ticket .standart:hover {
  -webkit-box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
}
.price_ticket .vip {
  position: relative;
  width: 387px;
  min-height: 664px;
  border-radius: 32px;
  background-color: #32633B;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.price_ticket .vip_img {
  position: absolute;
  top: 84px;
  left: 27px;
}
.price_ticket .vip_btn {
  margin: 24px 40px 32px 40px;
  width: 307px;
  padding: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: #F18B41;
  border: none;
}
.price_ticket .vip_btn a {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}
.price_ticket .vip:hover {
  -webkit-box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 16px 2px rgba(0, 0, 0, 0.2);
}

.waiting {
  margin: 160px 120px 0 120px;
}
.waiting_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 465px;
  border-radius: 32px;
  background: #F18B41;
}
.waiting_content_descr {
  width: 480px;
  margin-left: 40px;
}
.waiting_content_descr .header {
  margin: 40px 0 0 0;
  color: #FFF;
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.waiting_content_descr .subheader {
  margin: 182px 0 0 0;
  color: #FFF;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.waiting_content_descr .subheader_img {
  width: 48px;
  height: 37px;
  margin-bottom: 5px;
}
.waiting_content_descr p {
  margin: 1px 0 40px 0;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.waiting_img {
  width: 618px;
  height: 385px;
  margin: 40px 40px 40px 62px;
}

.footer_content {
  margin-top: 160px;
  width: 100%;
  height: 133px;
  background: #263A2A;
}

/*# sourceMappingURL=style.css.map */